.nav-item {
    font-size: 16px;
    margin-right: 15px;
}

.navbar-brand {
    margin-right: 400px;
    font-size: 32px;
}

.list-group-item {
    text-align: left;
}

.row {
    margin-top: 40px;
}

.card-header {
    font-size: 28px;
    background-color: #343a40;
    color: white;
}

.card {
    margin-top: 12px;
    margin-bottom: 12px;
}

#left {
    width: 750px;
    float: right;
}

#right {
    width: 750px;
    float: left;
}